<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="utf-8" />
    <title>Welcome - 落汩の森</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
	<script type="text/javascript" src="static/js/OnMouseMove.js"></script>
	<link  href="/static/css/OnMouseMove.css" rel="stylesheet" type="text/css" />
    <script>

$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (! err) {
                        location.assign('/');
                    }
                });
            }
        }
    });
});

    </script>
</head>
<body class="uk-height-1-1" style="background:url(/static/img/P6.jpg);background-size:cover;">
	<canvas id="canvas" style="z-index:800"></canvas>
	<script type="text/javascript" src="/static/js/Canve-style.js"></script>
	<div id="screen" style="z-index:850;position:absolute;left:0%;top:0%"></div>
    <div class="uk-vertical-align uk-text-center uk-height-1-1" style="position:absolute;z-index:1000; left: 40%;top:1px; height:100%;">
		<div class="uk-vertical-align-middle" style="width: 320px;">
		<h1 style="font-family:'Arial';font-size:50px;color:#0556c5;filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9; margin-top:1px;">落汩の森</h1>
		<h1 class="uk-h3" style="font-family:'Arial';color:#0556c5;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;">--越长大越寂寞--</h1>
            <p><a href="/" class="uk-icon-button"><i class="uk-icon-html5"></i></a> <a href="/">  欢迎进入 - Like.(￣_,￣ ).Love</a></p>
            <form id="vm" v-on="submit: submit" class="uk-panel uk-panel-box uk-form">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-envelope-o"></i>
                        <input v-model="email" name="email" type="text" placeholder="电子邮件" maxlength="50" class="uk-width-1-1 uk-form-large">
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-lock"></i>
                        <input v-model="passwd" name="passwd" type="password" placeholder="口令" maxlength="50" class="uk-width-1-1 uk-form-large">
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-sign-in"></i> 登录</button>
                </div>
            </form>
        </div>
    </div>
	<script>
            new Follow('screen', {
                speed: 4,
                animR: 3,
                fn: function (i, j) {
                    return {
                        x: j / 3 * Math.cos(i),
                        y: j / 3 * Math.sin(i)
                    }
                }
            })
    </script>
</body>
</html>
